@using Microsoft.Extensions.Hosting.Internal
@using Dal.Controllers;
@model List<Domain.Models.Product>


<a asp-action="@nameof(ProductController.Create)" asp-controller="Product" class="btn btn-primary btn-lg">+ Add new product</a>

@foreach(var product in @Model) 
{
    <form asp-action="@nameof(ProductController.Delete)" asp-controller="Product" method="post">
        <div class="card-deck">
            <div class="card">
                @foreach(var img in ViewBag.Images)
                {
                    <input type="hidden" name="id" value="@product.Id"/>
                    @if (img.ProductId == @product.Id)
                    {
                        <div>
                            <img src="@img.Url" class="card-img-top"  alt="@product.Name"/>
                        </div>
                        break;
                    }
                }
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <h8 class="card-text">Status: @product.Status</h8>
                    <h10 class="card-text">Price: @product.Price</h10>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                    <a asp-action="@nameof(CatalogController.Details)" asp-controller="Catalog" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </form>
}


