@using Dal.Controllers

@model ListPropertyValueViewModel


<div class="row">
    <div class="col-md-4">

        <form asp-action="@nameof(ProductController.RequiredProperty)" method="post" enctype="multipart/form-data">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              @foreach(var prop in ViewBag.Prorerty){
              <div class="form-group">
                <label class="control-label">@prop.Name:</label>
                <input type="hidden" name="PropertyId" value="@prop.Id"/>
                <input name="Values" class="form-control" required value="" />
            </div>
              }
              <div class="form-check">
                  <label for="CheckProp">Add your PROPERTIES?</label>
                  @Html.CheckBox("CheckProp", true)
              </div>
             
               <div class="form-group">
                <input type="hidden" name="ProductId" value="@ViewBag.ProductId"/>
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
         </form>
    </div>
 </div>