@using Thing.Controllers;
@using Domain.Models
@model IEnumerable<Order>

@{
    ViewBag.Title = "Cart";
    ViewBag.Cost = 0;
    @foreach (var order in Model)
    {
        ViewBag.Cost += order.Count * order.Product.Price;
    }
}

<h2>Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in @Model)
        {
            <tr>
                <td>@order.Product.Name</td>
                <td>@order.Product.Price</td>
                <td>@order.Count</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-danger" asp-action="@nameof(CartController.DeleteFromCart)" asp-controller="Cart" asp-route-productId="@order.ProductId">Delete</a>
                    </div>
                </td>
            </tr>
        }

        <tr>
            <td>Total:</td>
            <td>              
               @ViewBag.Cost
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

    
