@using Thing.Models.ViewModels
@model IReadOnlyCollection<CardProductViewModel>

	<h3 style="text-align:center">Products</h3>

<section>
  <div class="container py-5">
    <div class="row">

            @foreach (var product in Model)
            {
                  <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                      <div class="card">

                      <img src="@product.ImageUrl" class="card-img-top" width="250" height="280" alt="@product.Name"/>
                       
              <div class="card-body">
                      <div class="d-flex justify-content-between mb-3">
                      <h5 class="mb-0">@product.Name</h5>
                  <h5 class="text-dark mb-0">@product.Price</h5>

                      <h5 class="text-dark mb-0">@product.Status</h5>
                </div>
                       <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                       <form action="@Url.Action("DetailsOfProduct","Catalog")"  method="get">
                               <input type="hidden" name="ProductId" value="@product.ProductId"/>
                               <input type="hidden" name="CategoryId" value="@ViewBag.Category.Id"/>
                       <input type="submit" class="btn btn-primary" value="DETAILS" />
                  </form>
                </div>
              </div>
              </div>
             </div>
            }

    </div>
  </div>
</section>