@using Dal.Controllers;
@using Dal.Models.ViewModels
@model IReadOnlyCollection<Comment>

@await Html.PartialAsync("_ProductNav")

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-start w-100">
            <div class="form-outline w-100">
                <form asp-controller="Catalog" asp-action="@nameof(CatalogController.WriteComment)" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@ViewBag.ProductId" name="ProductId">
                    <input type="hidden" value="@ViewBag.CategoryId" name="CategoryId">

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Images</label>
                        <input class="form-control" type="file" name="uploads" multiple accept="image/*" id="formFile">
                    </div>
                    <div class="mb-3">
                        <label for="Content" class="form-label">Content</label>
                        <textarea class="form-control" id="Content" rows="4" name="Content"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="Cons" class="form-label">Cons</label>
                        <textarea class="form-control" id="Cons" rows="2" name="Cons"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="Pros" class="form-label">Pros</label>
                        <textarea class="form-control" id="Pros" rows="2" name="Pros"></textarea>
                    </div>
                    <input type="submit" class="btn btn-outline-primary btn-sm mt-2" value="Post Comment">
                </form>
            </div>
        </div>
    </div>
</div>

<h4 class="text-center my-4 pb-2">Comments</h4>
<div>
    @foreach (var comment in Model)
    {
        <div class="card">
            @if (comment.User != null)
            {
                <div class="card-header">@comment.User.UserName</div>
            }
            else
            {
                <div class="card-header">User</div>
            }

            <div class="card-body">
                <p>@comment.Content</p>

                @if (comment.Pros != null)
                {
                    <div class="mb-3">
                        <label for="Pros" class="fw-bold">Pros:</label>
                        <p id="Pros">@comment.Pros</p>
                    </div>
                }
                @if (@comment.Cons != null)
                {
                    <div class="mb-3">
                        <label for="Cons" class="fw-bold">Cons:</label>
                        <p id="Cons">@comment.Cons</p>
                    </div>
                }

                @foreach (var image in comment.CommentImages)
                {
                    <div>
                        <img src="@image.ImagePath" style="height: 250px;width: 300px">
                    </div>
                }
                <a class="btn btn-sm btn-outline-dark" asp-controller="Catalog" asp-action="@nameof(CatalogController.WriteAnswer)" asp-route-ProductId="@ViewBag.ProductId" asp-route-CommentId="@comment.Id">Answer</a>
            
                @if(User.IsInRole(Roles.Admin))
                {
                    <a class="btn btn-sm btn-outline-danger" asp-controller="Admin" asp-action="@nameof(AdminController.Comment)" asp-route-id="@comment.Id" asp-route-redirect="@ViewBag.Url">Ban</a>
                }
            </div>
        </div>


        <div class="mb-4">
            @foreach (var answer in comment.Answers)
            {
                <div class="card mt-2 ms-5">
                    <div class="card-body">
                        @if (answer.User != null)
                        {
                            <h5 class="card-title">@answer.User.UserName</h5>
                        }
                        else
                        {
                            <h5 class="card-title">User</h5>
                        }
                        <p class="card-text"> @answer.Content</p>
                        
                        @if(User.IsInRole(Roles.Admin))
                        {
                            <a class="btn btn-sm btn-outline-danger" asp-controller="Admin" asp-action="@nameof(AdminController.Answer)" asp-route-id="@answer.Id" asp-route-redirect="@ViewBag.Url">Ban</a>
                        }
                    </div>
                </div>
            }

        </div>
    }
</div>